@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
    background: hsl(210, 45%, 60%);
    font-family: "raleway", helvetica, sans-serif;
    line-height: 40px;
    font-size: 20px;
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction:column;
}

#title {
    text-align: center;
}
#description {
    text-align: center;
}

form {
    background: rgb(10, 10, 49);
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 700px;
    margin: auto;
}

.submit-button {
    width: 100%;
    padding: 15px;
    color: white;
    border-radius: 1px;
    background: rgb(100, 196, 100);
    cursor: pointer;
    font-size: 18px;
}