@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
    background: hsl(210, 45%, 60%);
    font-family: "raleway", helvetica, sans-serif;
    line-height: 40px;
    font-size: 20px;
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction:column;
}

#title {
    margin: auto;
    margin-top: 20px;
    margin-bottom: -10px;
    text-align: center;
}
#description {
    text-align: center;
    margin-bottom: 25px;
}

form {
    background: rgb(10, 10, 49);
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 700px;
    margin: auto;
}

.input-headings {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-input {
    display: block;
    width: 90%;
    height: 2rem;
    padding: 0.2rem 0.75rem;
    background: #fff;
    border: 1px solid #d7dcdd;
    border-radius: 0.25rem;
}

.submit-button {
    width: 100%;
    padding: 15px;
    color: white;
    border-radius: 1px;
    background: rgb(100, 196, 100);
    cursor: pointer;
    font-size: 18px;
}